<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Sucré Menu</title>
</head>

<body>
    <header>
        <h1>Edit <%= menu.name %></h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/menu">MENU</a>
                </li>
            </ul>
        </nav>
    </header>
         
        <form action="/menu/<%= menu._id %>?_method=PUT" method="POST">
            <input type="text" name="name" value="<%= menu.name %>" /><br />
            <input type="submit" value="Update Item" />
        </form>

</body>

</html>