<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Sucré Menu</title>
</head>

<body>
    <header>
        <h1>Edit <%= menu.name %></h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/menu">MENU</a>
                </li>
            </ul>
        </nav>
    </header>
         
        <form action="/menu/<%= menu._id %>?_method=PUT" method="POST">
            <input type="text" name="name" value="<%= menu.name %>" /><br />
            <input type="submit" value="Update Item" />
        </form>

</body>

</html>