<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Sucré Menu</title>
</head>

<body>
    
    <main>
        <h2>Menu Items</h2>
        <ul>
            <% for(let i=0; i < menus.length; i++){ %>
                <li>
                    <a href="/menu/<%= menus[i]._id %>">
                        <img src=<%= menus[i].image %>/>
                    </a>
                </li>
                
                <% } %>
        </ul>
    </main>
</body>

</html>