<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Chicle&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css" type="text/css" />
  <title>Sucré Menu</title>
</head>

<body id="mbody">
  <h1 id="mindex">Menu Items</h1>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">SUCRÉ</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/menu">MENU</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blog">BLOG</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <main>
    <div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center" data-mdb-ride="carousel">
      
        <div class="carousel-item active">
          <div class="container">    
              <div class="card">
                  <% for(let i=0; i < menus.length; i++){ %>
                    <h5 class="card-title">
                      <%= menus[i].name %>
                    </h5>
                    <a href="/menu/<%= menus[i]._id %>">
                      <img src=<%=menus[i].image %>/>
                    </a>
                    <% } %>
          </div>
        </div>
      </div>
  </main>
  <%- include('../partials/footer.ejs') %>
</body>

</html>