<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Sucré Blog</title>
</head>

<body>
    <header>
        <h1>Welcome to the Sucré Blog</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">HOME</a>
                </li>
                <li>
                    <a href="/blog/new">ADD A NEW POST</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <ul>
            <% for(let i = 0; i < blogs.length; i++){ %>
            <li>
                <a href="/blog/<%=blogs[i]._id%>"><%= blogs[i].title %></a>
            </li>
            <% } %>
        </ul>
    </main>
</body>

</html>