<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Sucré Blog</title>
</head>

<body>
    <header>
        <h1>Welcome to the Sucré Blog</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">HOME</a>
                </li>
                <li>
                    <a href="/blog">ADD A NEW POST</a>
                </li>
            </ul>
        </nav>
    </header>
</body>

</html>