<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Sucré Blog</title>
</head>

<body>
    <header>
        <h1>Blog About Us!</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">HOME</a>
                </li>
                <li>
                    <a href="/blog">BLOG MAIN PAGE</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <form action="/products" method="POST">
        Title: <input type="text" name="title" /><br />
        Image: <input type="file" name="img"/><br />
        Body:<input type="text" name="body" /><br />
        <input type="submit" name="" value="Add Post" />
    </form>
    </div>
</body>

</html>