<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Chicle&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" type="text/css"/>
    <title>Sucré Blog</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">SUCRÉ</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="/">HOME</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/blog">BLOG</a>
                </li>
              </ul>
            </div>
          </nav>
        <h1>Blog About Us!</h1>
    </header>
    <div class="container">
        <form action="/products" method="POST">
        Title: <input type="text" name="title" /><br />
        Image: <input type="file" name="img"/><br />
        Body:<input type="text" name="body" /><br />
        <input type="submit" name="" value="Add Post" />
    </form>
    </div>
</body>

</html>