<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Chicle&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" type="text/css"/>
	<title>SUCRÉ</title>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">SUCRÉ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/menu">MENU</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/blog">BLOG</a>
            </li>
            <li>
                <% if(currentUser) { %>
                    <a href="/">Home</a>
                    <form action="/sessions?_method=DELETE" method="POST">
                        <input type="submit" value="Log Out" />
                    </form>
                <% } else { %>
                    <a href="/users/new">Register</a>
                    <a href="/sessions/new">Login</a>
                <% } %>
            </li>
          </ul>
        </div>
      </nav>  
	<h1>Dashboard</h1>
  
</body>

</html>